/* You can add global styles to this file, and also import other style files */

@media print {
    @page {
        size: A4;
        margin: 10mm;
    }

    .no-print {
        display: none;
    }
}